<!-- @author Daniel Rotärmel -->
<div class="row between-xs">
  <div class="col-xs-6 start-xs">
    <span>
      <a id="home" routerLink="/">
        <svg-icon id="logo" src="../assets/vinylist-logo.svg" [stretch]="true" [stretch]="true" [svgStyle]="{'width.px':60, 'padding.px':0,'margin.px':0, 'fill':'rgb(255,255,255)'}">
        </svg-icon>
      </a>
      © 2018 {{'FOOTER.IMPRINT' | translate}}
      <!-- TODO: add link to imprint -->
    </span>
  </div>
  <div class="col-xs-6 end-xs">
    <app-language-switcher></app-language-switcher>
  </div>
</div>
