[Unit]
Description=Webspec systemd service

[Service]
WorkingDirectory=/path/to-the-project
ExecStart=/usr/bin/dotnet webspec3.dll
Restart=always
RestartSec=10
SyslogIdentifier=webspec
User=webspec
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
