<!-- @author Janina Wachendorfer, Alexander Merker -->
<div class="product-list-container">
  <div class="row">
    <!-- <div class="col-lg-3">
    </div> -->

    <div class="col-xs-5 col-sm-4 col-lg-2 start-xs ">
      <mat-button-toggle-group #group="matButtonToggleGroup" [(value)]="selectedView">
        <mat-button-toggle value="normal" (click)='changeActiveView("normal")' aria-label="list" matTooltip="{{ 'PRODUCT.NORMAL_VIEW' | translate}}">
          <mat-icon>dashboard</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="table" (click)='changeActiveView("table")' aria-label="table" matTooltip="{{ 'PRODUCT.TABLE_VIEW' | translate}}">
          <mat-icon>view_list</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="col-xs col-sm-3 col-lg"></div>

    <div class="col-xs-4 col-sm-2 col-lg-2 end-xs">
      <mat-form-field>
        <mat-select [(value)]="selectedSortBy" placeholder="{{ 'PRODUCT.SORT_BY' | translate}}">
          <mat-option value="Artist" (click)='sortBy("Artist")'>
            {{ 'PRODUCT.ARTIST' | translate}}
          </mat-option>
          <mat-option value="Label" (click)='sortBy("Label")'>
            {{ 'PRODUCT.LABEL' | translate}}
          </mat-option>
          <mat-option value="Release Date" (click)='sortBy("ReleaseDate")'>
            {{ 'PRODUCT.RELEASE_DATE' | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-sm-3 col-lg-2 end-xs">
      <mat-button-toggle-group #group="matButtonToggleGroup" [(value)]="selectedSortDirection">
        <mat-button-toggle value="ASC" (click)='changeSortDirection("ASC")' aria-label="ascending" matTooltip="{{ 'PRODUCT.ASC' | translate}}">
          <mat-icon>arrow_upward</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="DESC" (click)='changeSortDirection("DESC")' aria-label="descending" matTooltip="{{ 'PRODUCT.DESC' | translate}}">
          <mat-icon>arrow_downward</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>


  <div class="row v-line">
    <div class="col-lg-3 col-xs-12 genre-container">
      <div class="border-box">
        <mat-accordion>
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Genre
              </mat-panel-title>
            </mat-expansion-panel-header>
            <section class="genre-selection">
              <mat-radio-group class="radio-group">
                <mat-radio-button class="radio-button" (click)="resetProducts()">
                  {{ 'PRODUCT.SELECT_ALL' | translate }}
                </mat-radio-button>
                <mat-divider></mat-divider>
                <mat-radio-button class="radio-button" [value]="item" (click)="switchCategory(item)" *ngFor="let item of categories">
                  {{item.getTitle()}}
                </mat-radio-button>
              </mat-radio-group>
            </section>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

    <div class="col-lg-9 col-sm-12 col-xs-12 ">
      <div *ngIf="selectedView==='normal'">
        <div class="products row">
          <div *ngFor="let item of products | paginate: paginatorOptions" class="col-lg-4 col-sm-6 col-xs-12 item ">
            <app-product-list-item [product]="item "></app-product-list-item>
          </div>
        </div>
        <div class="row center-lg center-xs">
          <div class="col-lg-12 col-xs-12">
            <pagination-controls class="pagination" (pageChange)="pageChange($event)" previousLabel="" nextLabel=""></pagination-controls>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="selectedView==='table'">
        <div class="col-xs-12 col-md-12">
          <table mat-table [dataSource]="products">
            <ng-container matColumnDef="artist">
              <th mat-header-cell *matHeaderCellDef> {{ 'PRODUCT.ARTIST' | translate }} </th>
              <td mat-cell *matCellDef="let element" (click)="navigateToDetails(element)"> {{element.artist}} </td>
            </ng-container>
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef> {{ 'PRODUCT.TITLE' | translate }} </th>
              <td mat-cell *matCellDef="let element" (click)="navigateToDetails(element)"> {{getTranslation(element).getTitle()}} </td>
            </ng-container>
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef> {{ 'PRODUCT.PRICE' | translate }} </th>
              <td mat-cell *matCellDef="let element" (click)="navigateToDetails(element)"> {{getPrice(element).getFormattedPrice()}} </td>
            </ng-container>
            <ng-container matColumnDef="favorite">
              <th mat-header-cell *matHeaderCellDef> {{ 'PRODUCT.WISHLIST' | translate }} </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button matTooltip="{{'PRODUCT.WISHLIST_TOOLTIP' | translate}}">
                  <mat-icon mat-icon-button aria-label="likes">favorite</mat-icon>
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="cart">
              <th mat-header-cell *matHeaderCellDef> {{ 'PRODUCT.CART' | translate }} </th>
              <td mat-cell *matCellDef="let element">
                <button mat-stroked-button matTooltip="{{'PRODUCT.TO_CART' | translate}}">
                  <mat-icon aria-label="shopping_cart">shopping_cart</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator #tablePaginator [length]="paginatorOptions.totalItems" [pageSize]="paginatorOptions.itemsPerPage" [pageSizeOptions]="pageSizeOptions"
            (page)="pageEvent = $event">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
