// @author Janina Wachendorfer
.small {
  font-size: 12pt;
  color: #ccc;
  padding: 0px 6px;
}

.artist {
  font-weight: 500;
}

.price {
  font-weight: 500;
  font-size: 16pt;
  padding: 10px;
}

.align-end {
  text-align: end;
}

.detail-container {
  padding: 15px;
}

.col-xs-12 {
  padding-bottom: 20px;
}
