// @author Janina Wachendorfer
a {
  text-decoration: none;
  color: white;
  img {
    max-width: 250px;
  }
  .title {
    font-size: 15pt;
    font-weight: 700;
  }
  .artist {
    font-size: 11pt;
    font-weight: 600;
    padding-top: 3px;
  }

  .price {
    font-size: 13pt;
    font-weight: 500;
    text-align: end;
  }
}

.product-container {
  display: block;
  padding: 10px;
  width: 250px;
}

.product-container:hover {
  background-color: #606060;
}

.description-container {
  margin: 10px;
  padding: 5px 0px;
}

.button-row {
  padding-bottom: 10px;
}

.favorite-button {
  text-align: start;
}

.shopping-cart-button {
  text-align: end;
}
