<div class="navbar row between-xs">

  <div class="col-lg-3 col-xs-12 start-lg center-xs">
    <a id="home" routerLink="/">
      <svg-icon id="logo" src="../assets/vinylist-logo.svg" [stretch]="true" [stretch]="true" [svgStyle]="{'width.px':170,'padding.px':1,'margin.px':3}">
      </svg-icon>
    </a>
  </div>

  <div class="col-lg-2 col-xs-12 start-xs end-lg">
    <mat-form-field>
      <mat-select [(value)]="selectedFilterBy" placeholder="{{ 'NAVIGATION_BAR.FILTER_BY' | translate}}">
        <mat-option value="Artist" (click)='filterBy("Artist")'>
          {{ 'NAVIGATION_BAR.ARTIST' | translate}}
        </mat-option>
        <mat-option value="Label" (click)='filterBy("Label")'>
          {{ 'NAVIGATION_BAR.LABEL' | translate}}
        </mat-option>
        <!--<mat-option value="Release Date" (click)='filterBy("ReleaseDate")'>
          Release Date
        </mat-option>-->
        <mat-option value="Description" (click)='filterBy("Description")'>
          {{ 'NAVIGATION_BAR.DESCRIPTION' | translate}}
        </mat-option>
        <mat-option value="Title" (click)='filterBy("Title")'>
          {{ 'NAVIGATION_BAR.TITLE' | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="search-box col-lg-3 col-xs-10 end-xs start-lg">
    <input class="col-xs-12 col-sm-12 col-lg-10" style='width:100%' id="search-input" aria-label="search" type="search" placeholder="{{'NAVIGATION_BAR.SEARCH' | translate}}"
      #searchInput (keyup.enter)="setFilterQuery(searchInput.value)">
    <button class="hidden-xs hidden-sm hidden-md" mat-icon-button (click)="setFilterQuery(searchInput.value)">
      <i class="material-icons white">search</i>
    </button>
  </div>

  <div class="col-lg-4 col-xs-12 end-lg start-xs">
    <div class="row between-xs end-lg">
      <div class="col-xs-6 col-sm-6 col-lg-6 end-lg">
        <a id="sign_in_btn" mat-button (click)="profile.popover.open()">{{'NAVIGATION_BAR.SIGN_IN' | translate}}</a>
      </div>

      <div class="col-xs-6 col-sm-6 col-lg-6 end-xs end-lg">

        <app-card-overlay #profile anchorButton="account_circle" cornerButton="account_circle" badgeCount=2>
          <h2>Profile</h2>
          <sub-title>
            <a routerLink="/profile" (click)="profile.popover.close()">edit profile</a>
          </sub-title>
          <content>
            <div>
              <app-register *ngIf="showRegister" [popover]="profile.popover"></app-register>
              <a mat-button *ngIf="showRegister" (click)="toggleAuthView()">{{'USER.REGISTER_SWITCH' | translate}}</a>
            </div>
            <div>
              <app-login *ngIf="showLogin" [popover]="profile.popover"></app-login>
              <a mat-button *ngIf="showLogin" (click)="toggleAuthView()">{{'USER.LOGIN_SWITCH' | translate}}</a>
            </div>
          </content>
        </app-card-overlay>


        <app-card-overlay #favorites anchorButton="favorite" cornerButton="favorite">
          <h2>Favorites</h2>
          <content>
            <p>Favorites</p>
            <button mat-button (click)="favorites.popover.close()">close</button>
          </content>
        </app-card-overlay>


        <app-card-overlay #cart anchorButton="shopping_cart" cornerButton="shopping_cart">
          <h2>Products</h2>
          <content>
            <p>Products</p>
            <app-cart-list></app-cart-list>
            <button mat-button (click)="cart.popover.close()">close</button>
          </content>
        </app-card-overlay>

      </div>
    </div>

  </div>
</div>