<!-- @author Janina Wachendorfer -->
<div class="product-list-container">
  <div class="row end-lg">
    <div class="col-lg-7">
    </div>

    <div class="col-lg-4">
      <mat-form-field>
        <mat-select [(value)]="selectedSortBy" placeholder="{{ 'PRODUCT.SORT_BY' | translate}}">
          <mat-option value="Artist" (click)='sortBy("Artist")'>
            {{ 'PRODUCT.ARTIST' | translate}}
          </mat-option>
          <mat-option value="Label" (click)='sortBy("Label")'>
            {{ 'PRODUCT.LABEL' | translate}}
          </mat-option>
          <mat-option value="Release Date" (click)='sortBy("ReleaseDate")'>
            {{ 'PRODUCT.RELEASE_DATE' | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-lg-1">
      <mat-button-toggle-group #group="matButtonToggleGroup" [(value)]="selectedSortDirection">
        <mat-button-toggle value="ASC" (click)='changeSortDirection("ASC")' aria-label="ascending" matTooltip="{{ 'PRODUCT.ASC' | translate}}">
          <mat-icon>arrow_upward</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="DESC" (click)='changeSortDirection("DESC")' aria-label="descending" matTooltip="{{ 'PRODUCT.DESC' | translate}}">
          <mat-icon>arrow_downward</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>


  <div class="row v-line">
    <div class="col-lg-3 col-xs-12 genre-container">
      <div class="border-box">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Genre
              </mat-panel-title>
            </mat-expansion-panel-header>
            <section class="genre-selection">
              <mat-radio-group class="radio-group">
                <mat-radio-button class="radio-button" (click)="resetProducts()">
                  {{ 'PRODUCT.SELECT_ALL' | translate }}
                </mat-radio-button>
                <mat-divider></mat-divider>
                <mat-radio-button class="radio-button" [value]="item" (click)="switchCategory(item)" *ngFor="let item of categories">
                  {{item.getTitle()}}
                </mat-radio-button>
              </mat-radio-group>
            </section>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

    <div class="col-lg-9 col-sm-12 col-xs-12 ">
      <div class="products row">
        <div *ngFor="let item of products | paginate: paginatorOptions" class="col-lg-4 col-sm-6 col-xs-12 item ">
          <app-product-list-item [product]="item "></app-product-list-item>
        </div>

      </div>
      <div class="row center-lg center-xs">
        <div class="col-lg-12 col-xs-12">
          <pagination-controls class="pagination" (pageChange)="pageChange($event)" previousLabel="" nextLabel=""></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>