<!-- Authors: Alexander Merker, Janina Wachendorfer -->
<form #registrationForm="ngForm">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>{{'USER.FIRST_NAME' | translate}}</mat-label>
      <input matInput type="text" name="firstName" [(ngModel)]="firstName" required>
      <mat-icon matSuffix>account_circle</mat-icon>
      <!-- <mat-error>Email is required</mat-error> -->
    </mat-form-field>

  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>{{'USER.LAST_NAME' | translate}}</mat-label>
      <input matInput type="text" name="lastName" [(ngModel)]="lastName" required>
      <mat-icon matSuffix>perm_identity</mat-icon>
      <!-- <mat-error>Email is required</mat-error> -->
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>{{'USER.EMAIL' | translate}}</mat-label>
      <input matInput type="email" name="email" [(ngModel)]="email" required>
      <mat-icon matSuffix>email</mat-icon>
      <!-- <mat-error>Email is required</mat-error> -->
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>{{'USER.PASSWORD' | translate}}</mat-label>
      <input matInput type="password" name="password" [(ngModel)]="password" required ng-maxlength="255" ng-minlength="4">
      <mat-icon matSuffix>vpn_key</mat-icon>
      <!-- <mat-error>Email is required</mat-error> -->
    </mat-form-field>
  </div>
  <div id="registerButton">
    <button [disabled]="!registrationForm.valid" mat-raised-button (click)="performRegistration()">{{'USER.REGISTER' | translate}}</button>
  </div>
</form>
