<!-- Authors: Alexander Merker, Janina Wachendorfer -->
<div class="col-xs-8">
  <form #registrationForm="ngForm">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>{{'USER.FIRST_NAME' | translate}}</mat-label>
        <input matInput type="text" name="firstName" [(ngModel)]="firstName" required>
        <mat-icon matSuffix>account_circle</mat-icon>
        <!-- <mat-error>Email is required</mat-error> -->
      </mat-form-field>

    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>{{'USER.LAST_NAME' | translate}}</mat-label>
        <input matInput type="text" name="lastName" [(ngModel)]="lastName" required>
        <mat-icon matSuffix>perm_identity</mat-icon>
        <!-- <mat-error>Email is required</mat-error> -->
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>{{'USER.EMAIL' | translate}}</mat-label>
        <input matInput type="email" name="email" [(ngModel)]="email" required>
        <mat-icon matSuffix>email</mat-icon>
        <!-- <mat-error>Email is required</mat-error> -->
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>{{'USER.PASSWORD' | translate}}</mat-label>
        <input matInput type="password" name="password" [(ngModel)]="password" required ng-maxlength="255" ng-minlength="4">
        <mat-icon matSuffix>vpn_key</mat-icon>
        <!-- <mat-error>Email is required</mat-error> -->
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>{{'USER.PASSWORD' | translate}}</mat-label>
        <input matInput type="password" name="password" [(ngModel)]="password" required ng-maxlength="255" ng-minlength="4">
        <mat-icon matSuffix>vpn_key</mat-icon>
        <!-- <mat-error>Email is required</mat-error> -->
      </mat-form-field>
    </div>
    <div id="register">
      <button [disabled]="!registrationForm.valid" mat-button (click)="performRegistration()">{{'USER.REGISTER' | translate}}</button>
    </div>
    <div id="login">
      <a mat-button routerLink="/login" (click)="displaySignup = !displaySignup">{{'USER.REGISTER_SWITCH' | translate}}</a>
    </div>
  </form>
</div>
