// Import theming functions
@import '~@angular/material/theming';

$background-dark: #646464;
$background: #747474;

$font: white;
$font-grey: #ccc;

$table-background: rgba(190, 190, 190, 0.938);

$dark-grey: #555;
$darker-grey: #484848;

// focus color
$focus: mat-color($mat-yellow, 500);
$font-focus: rgb(233, 233, 233);
