/* You can add global styles to this file, and also import other style files */
$fa-font-path: "~font-awesome/fonts/";
@import "~font-awesome/scss/font-awesome";

// import custom variables and mixins
@import './variables';
@import './mixins';

// resets focus borders
:focus {
    box-shadow:none !important;
    // border:1px solid #ccc !important;
    border: none !important;
    outline: none !important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    border-color: !important;
}
