/* You can add global styles to this file, and also import other style files */

/* global imports */

@import './variables';
@import './mixins';
@import './custom-theme';

// local icon fonts
$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';

// flexbox
@import '~flexboxgrid-helpers/dist/flexboxgrid-helpers.min.css';
@import '~flexboxgrid/css/flexboxgrid.min.css';

/* global styles */

html,
body {
  height: 100%;
}

body {
  background: -moz-linear-gradient(
    top,
    $background 75%,
    $background-dark 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    $background 75%,
    $background-dark 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    $background 75%,
    $background-dark 100%
  );
  color: $font;
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
}
/* global fix */
// fix for border radius not beeing inherited on ripple effects (only works on chrome + firefox)
::ng-deep .mat-button-ripple {
  border-radius: inherit !important;
}
