mat-toolbar {
    padding: 20px;
}

app-language-switcher {
    font-size: 10pt;
    padding-top: 10px;
}

mat-form-field {
    font-size: 10pt;
    padding-top: 10px;
}

.material-icons.white { 
    color: white;
}

.spacing {
    flex: 1 1 auto;
}

a {
    text-decoration:none;
}