@import '../../sass/styles';

.navbar {
    background: $background !important;
    padding-top: 10px;
}

.material-icons.white { 
    color: $font;
}

.spacing {
    flex: 1 1 auto;
}

a {
    text-decoration:none;
    font-size: 12pt;
    color: $font-grey;
}

svg-icon {
    fill: $font !important;
    transition: 300ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 300ms;
    -webkit-transition-timing-function: ease-in-out;
}

svg-icon:hover#logo {
    fill: $focus !important;
    // background-color: red !important;
}

.search-box {
}

#search-input {
}

// .search-box>input[type="search"] 
#search-input {
    // reset appearance
    margin: none !important;
    appearance: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-size: 16px;
    
    // styling
    border: 1px solid $font;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    padding: .5em;
    color: $font;
    caret-color: $focus;
    transition: 300ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 300ms;
    -webkit-transition-timing-function: ease-in-out;
}

input::placeholder {
    margin: 0px;
    padding-left: 0px;
    color: $font;
}

// focus styling
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    border: 1px solid;
    border-color: $focus !important;
}