<!-- Author: @Daniel Rotärmel -->
<nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">

    <a class="navbar-brand d-inline-flex w-50 mr-auto" [routerLink]="['/']" (click)="navbarCollapsed = true">
        <img src="/assets/vinylist-logo.svg" alt="Vinylist" height="45">
    </a>

    <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
        aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse w-100" [ngClass]='{ "show": !isCollapsed }'>

        <form class="form-inline w-100 justify-content-center" role="form">
            <div id="search-group" class="input-group">
                <input class="form-control border-right-0" type="text" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <span class="input-group-text bg-white border-left-0">
                            <i class="fa fa-search form-control-feedback"></i>
                    </span>
                </div>
            </div>
        </form>

        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item ml-4" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                <a class="nav-link" [routerLink]='["/sign-in"]' (click)='collapse()'>
                    Sign-in
                </a>
            </li>
            
            <li class="nav-item ml-4" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                <a class="nav-link" [routerLink]='["/fetch-data"]' (click)='collapse()'>
                    <i class="fa fa-heart"></i>
                </a>
            </li>
            <li class="nav-item ml-4" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                <a class="nav-link" [routerLink]='["/counter"]' (click)='collapse()'>
                    <i class="fa fa-shopping-cart"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>