<!-- Author: Alexander Merker -->

<div>
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef> {{'USER.FIRST_NAME' | translate}} </mat-header-cell>
        <mat-cell *matCellDef="let user">
          <mat-form-field floatLabel="never">
            <input matInput placeholder="First Name" [value]="user.firstName" [(ngModel)]="user.firstName">
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef> {{'USER.LAST_NAME' | translate}} </mat-header-cell>
        <mat-cell *matCellDef="let user">
          <mat-form-field floatLabel="never">
            <input matInput placeholder="Last Name" [value]="user.lastName" [(ngModel)]="user.lastName">
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> {{'USER.EMAIL' | translate}} </mat-header-cell>
        <mat-cell *matCellDef="let user">
          <mat-form-field floatLabel="never">
            <input matInput placeholder="E-Mail" [value]="user.email" [(ngModel)]="user.email">
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="save">
        <mat-header-cell style="width:40px; flex:inherit" *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let user" class="end-sm start-xs flex-inherit">
          <button class="hidden-xs hidden-sm hidden-md" (click)="perform_save(user.id, user.firstName, user.lastName, user.email)" mat-icon-button>
            <i class="material-icons white">save</i>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="delete">
        <mat-header-cell style="width:40px; flex:inherit" *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let user" class="end-sm start-xs flex-inherit">
          <button class="hidden-xs hidden-sm hidden-md" (click)="perform_delete(user.id)" mat-icon-button>
            <i class="material-icons white">delete</i>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>